/* All global for Home Page */
.glb--title {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 2.0em;
  margin: 60px 0 60px 30px !important;
  max-height: 5em;
  font-weight: 500;
  text-align: left;
  white-space: break-spaces;
}
